{% load static %}



<div id="footer">
    <!-- subscribe area start -->
    <div class="subscribe-area">
        <div class="section-wrap">
            <div class="subscribe-wrap">
                <div class="subscribe-text">
                    <p>Subscribe to get all product updates first</p>
                </div>

                <form class="subscribe-input">
                    <input type="email" placeholder="Enter your email" required>
                    <button type="submit">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
    <!-- subscribe area end -->


    <!-- footer navigation area start -->
    <div class="section-footer">
        <div class="section-wrap">
            <div class="footer-wrap">
                <div class="company-details">
                    <h2>MarktSuper</h2>

                    <div class="fdetails">
                        <p>Looking for a convenient and efficient way to stock up on your everyday essentials? Look no further! We are proud to present the MarktSuper, your one-stop shop for all your grocery needs.

</p>
                    </div>

                    <div class="social-media-links">
                        <div class="f-links">
                            <a href="#"><span class="icon-facebook-f"></span></a>
                        </div>

                        <div class="f-links">
                            <a href="#"><span class="icon-instagram"></span></a>
                        </div>

                        <div class="f-links">
                            <a href="#"><span class="icon-linkedin-in"></span></a>
                        </div>

                        <div class="f-links">
                            <a href="#"><span class="icon-twitter"></span></a>
                        </div>

                        <div class="f-links">
                            <a href="#"><span class="icon-telegram-plane"></span></a>
                        </div>
                    </div>
                </div>

                <div class="footer-menu">
                    <h2>Menu</h2>
                    <div class="fmenu">
                        <p><a href="#top">Home</a></p>
                        <p><a href="#about">About</a></p>
                        <p><a href="#services">Services</a></p>
                        <p><a href="#products">Products</a></p>
                        <p><a href="#contact">Contact</a></p>
                    </div>
                </div>

                <div class="top-products-links">
                    <h2>Top Products</h2>
                    <div class="flinks">
                        <p><a href="#products">Apple</a></p>
                        <p><a href="#products">Grapes</a></p>
                        <p><a href="#products">Mangos</a></p>
                        <p><a href="#products">Oranges</a></p>
                        <p><a href="#products">Pinapple</a></p>
                    </div>
                </div>

                <div class="useful-links">
                    <h2>Quick Links</h2>
                    <div class="Qlinks">
                        <p><a href="#">User Account</a></p>
                        <p><a href="#">Become An Affilate</a></p>
                        <p><a href="#">New Offer</a></p>
                        <p><a href="#">Recent Blogs</a></p>
                        <p><a href="#">Help</a></p>
                    </div>
                </div>

                <div class="master-cards">
                    <h2>Easy Payment</h2>
                    <div class="payment-cards">
                        <div class="payment-link">
                            <a href="#"><span class="icon-cc-amazon-pay"></span></a>
                        </div>

                        <div class="payment-link">
                            <a href="#"><span class="icon-cc-mastercard"></span></a>
                        </div>

                        <div class="payment-link">
                            <a href="#"><span class="icon-cc-paypal"></span></a>
                        </div>

                        <div class="payment-link">
                            <a href="#"><span class="icon-cc-stripe"></span></a>
                        </div>

                        <div class="payment-link">
                            <a href="#"><span class="icon-cc-visa"></span></a>
                        </div>

                        <div class="payment-link">
                            <a href="#"><span class="icon-cc-discover"></span></a>
                        </div>

                        <div class="payment-link">
                            <a href="#"><span class="icon-cc-jcb"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer navigation area end -->


    <!-- copyright area start -->
    <footer>
        <p>Created By <a href="https://github.com/dracoignis-000">Godfrey Tarry Gaoseb</a> |
            &copy;
            2023 All rights reserved</p>
    </footer>
    <!-- copyright area end -->

</div>
<!-- footer area end -->

</div>
<!-- section content area end -->


<script>
    const staticUrl = "{% static '' %}";
</script>
<!-- costom js -->
<script src="{% static 'script.js' %}"></script>

</body>

</html>